@use "../styles/common" as *;

.identity {
  display: flex;
  flex-direction: column;
}

.zone {
  color: design-token("color.neutral.600");
}

.change {
  font-size: var(--ezui-viz-detail-size, 14px);

  &[data-sentiment="positive"] {
    color: design-token("color.neutral.900");
  }
}
